<a href="https://colab.research.google.com/github/TamaraMaggioni/AprendizajeProfundo/blob/master/AnalisisDeDatos/3_Agrupacion_y_Agregacion/ejercicio/CLASE_3_ejercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/institutohumai/cursos-python/blob/master/AnalisisDeDatos/3_Agrupacion_y_Agregacion/ejercicio/ejercicio.ipynb"> <img src='https://colab.research.google.com/assets/colab-badge.svg' /> </a>
<div align="center"> Recordá abrir en una nueva pestaña </div>

Vamos a trabajar sobre el mismo DataFrame que usamos en clase pero agrupando a nivel de comunidad autónoma (Cod_CCAA). En este caso vamos a traer también las descripciones y vamos a hacer un join para formar un único data set.

# Ejercicios Pandas III

In [ ]:
import pandas as pd
import plotly.express as px

In [ ]:
df = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/parodesprov.csv')

In [ ]:
df_descripciones = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/comunidades_descripcion.csv')

In [ ]:
df_descripciones.head(3)

   Código                  Literal
0       1                Andalucía
1       2                   Aragón
2       3  Asturias, Principado de

In [ ]:
df_descripciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Código   19 non-null     int64
 1   Literal  19 non-null     object
dtypes: int64(1), object(1)
memory usage: 432.0+ bytes

In [ ]:
df_descripciones = df_descripciones.rename(columns=
    {'Código': 'Cod_CCAA',
    'Literal' : 'Comunidad_Autónoma'}
)

df_descripciones

    Cod_CCAA           Comunidad_Autónoma
0          1                    Andalucía
1          2                       Aragón
2          3      Asturias, Principado de
3          4               Balears, Illes
4          5                     Canarias
5          6                    Cantabria
6          7              Castilla y León
7          8         Castilla - La Mancha
8          9                     Cataluña
9         10         Comunitat Valenciana
10        11                  Extremadura
11        12                      Galicia
12        13         Madrid, Comunidad de
13        14            Murcia, Región de
14        15  Navarra, Comunidad Foral de
15        16                   País Vasco
16        17                    Rioja, La
17        18                        Ceuta
18        19                      Melilla

In [ ]:
df.head()

,OBJECTID,Codigo,Texto,Cod_Prov,Cod_CCAA,TotalParoRegistrado,PAD_1C02,PAD_1_COD_PROV,PAD_1_COD_CCAA,Shape__Area,Shape__Length,Codigop
0,1,1001,Alegría-Dulantzi,1,16,184.0,2856.0,Araba/Álava,16.0,3.709269e+07,48191.568537,1.0
1,2,1002,Amurrio,1,16,766.0,10260.0,Araba/Álava,16.0,1.799114e+08,90623.621986,1.0
2,3,1003,Aramaio,1,16,18.0,1502.0,Araba/Álava,16.0,1.377066e+08,58592.914048,1.0
3,4,1004,Artziniega,1,16,110.0,1840.0,Araba/Álava,16.0,5.130078e+07,31498.524044,1.0
4,5,1006,Armiñón,1,16,12.0,234.0,Araba/Álava,16.0,2.380288e+07,33293.805036,1.0

In [ ]:
df.Cod_CCAA.nunique(), df.Cod_Prov.nunique() # Las descripciones corresponden a los códigos de las CIUDADES AUTÓNOMAS

(19, 52)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16339 entries, 0 to 16338
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OBJECTID             16339 non-null  int64
 1   Codigo               16339 non-null  int64
 2   Texto                16235 non-null  object
 3   Cod_Prov             16339 non-null  int64
 4   Cod_CCAA             16339 non-null  int64
 5   TotalParoRegistrado  16246 non-null  float64
 6   PAD_1C02             16249 non-null  float64
 7   PAD_1_COD_PROV       8125 non-null   object
 8   PAD_1_COD_CCAA       8125 non-null   float64
 9   Shape__Area          16339 non-null  float64
 10  Shape__Length        16339 non-null  float64
 11  Codigop              8125 non-null   float64
dtypes: float64(6), int64(4), object(2)
memory usage: 1.5+ MB

In [ ]:
df.sort_values('Codigo')

,OBJECTID,Codigo,Texto,Cod_Prov,Cod_CCAA,TotalParoRegistrado,PAD_1C02,PAD_1_COD_PROV,PAD_1_COD_CCAA,Shape__Area,Shape__Length,Codigop
0,1,1001,Alegría-Dulantzi,1,16,184.0,2856.0,Araba/Álava,16.0,3.709269e+07,48191.568537,1.0
8170,8171,1001,Alegría-Dulantzi,1,16,185.0,2913.0,NaN,NaN,3.709269e+07,48191.568751,NaN
1,2,1002,Amurrio,1,16,766.0,10260.0,Araba/Álava,16.0,1.799114e+08,90623.621986,1.0
8171,8172,1002,Amurrio,1,16,766.0,10291.0,NaN,NaN,1.799114e+08,90623.621773,NaN
2,3,1003,Aramaio,1,16,18.0,1502.0,Araba/Álava,16.0,1.377066e+08,58592.914048,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8167,8168,50903,Villamayor de Gállego,50,2,94.0,2753.0,Zaragoza,2.0,1.627609e+08,63010.590427,50.0
16337,16338,51001,Ceuta,51,18,12438.0,84959.0,NaN,NaN,2.944199e+07,50690.387388,NaN
8168,8169,51001,Ceuta,51,18,12477.0,84519.0,Ceuta,18.0,2.944199e+07,50690.389444,51.0
8169,8170,52001,Melilla,52,19,10868.0,86026.0,Melilla,19.0,1.993434e+07,30499.616256,52.0
16338,16339,52001,Melilla,52,19,10805.0,86120.0,NaN,NaN,1.993434e+07,30499.616895,NaN

In [ ]:
df = df.dropna(axis=0).copy()

df.sort_values('Codigo')

,OBJECTID,Codigo,Texto,Cod_Prov,Cod_CCAA,TotalParoRegistrado,PAD_1C02,PAD_1_COD_PROV,PAD_1_COD_CCAA,Shape__Area,Shape__Length,Codigop
0,1,1001,Alegría-Dulantzi,1,16,184.0,2856.0,Araba/Álava,16.0,3.709269e+07,48191.568537,1.0
1,2,1002,Amurrio,1,16,766.0,10260.0,Araba/Álava,16.0,1.799114e+08,90623.621986,1.0
2,3,1003,Aramaio,1,16,18.0,1502.0,Araba/Álava,16.0,1.377066e+08,58592.914048,1.0
3,4,1004,Artziniega,1,16,110.0,1840.0,Araba/Álava,16.0,5.130078e+07,31498.524044,1.0
4,5,1006,Armiñón,1,16,12.0,234.0,Araba/Álava,16.0,2.380288e+07,33293.805036,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8165,8166,50901,Biel,50,2,3.0,143.0,Zaragoza,2.0,2.396392e+08,71731.607076,50.0
8166,8167,50902,Marracos,50,2,2.0,91.0,Zaragoza,2.0,3.102103e+07,27441.268570,50.0
8167,8168,50903,Villamayor de Gállego,50,2,94.0,2753.0,Zaragoza,2.0,1.627609e+08,63010.590427,50.0
8168,8169,51001,Ceuta,51,18,12477.0,84519.0,Ceuta,18.0,2.944199e+07,50690.389444,51.0
8169,8170,52001,Melilla,52,19,10868.0,86026.0,Melilla,19.0,1.993434e+07,30499.616256,52.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8124 entries, 0 to 8169
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OBJECTID             8124 non-null   int64
 1   Codigo               8124 non-null   int64
 2   Texto                8124 non-null   object
 3   Cod_Prov             8124 non-null   int64
 4   Cod_CCAA             8124 non-null   int64
 5   TotalParoRegistrado  8124 non-null   float64
 6   PAD_1C02             8124 non-null   float64
 7   PAD_1_COD_PROV       8124 non-null   object
 8   PAD_1_COD_CCAA       8124 non-null   float64
 9   Shape__Area          8124 non-null   float64
 10  Shape__Length        8124 non-null   float64
 11  Codigop              8124 non-null   float64
dtypes: float64(6), int64(4), object(2)
memory usage: 825.1+ KB

Unan ambos DataFrames utilizando la función pd.merge()

In [ ]:
df_mergeado = df.merge(
    df_descripciones
)

df_mergeado.head()

,OBJECTID,Codigo,Texto,Cod_Prov,Cod_CCAA,TotalParoRegistrado,PAD_1C02,PAD_1_COD_PROV,PAD_1_COD_CCAA,Shape__Area,Shape__Length,Codigop,Comunidad_Autónoma
0,1,1001,Alegría-Dulantzi,1,16,184.0,2856.0,Araba/Álava,16.0,3.709269e+07,48191.568537,1.0,País Vasco
1,2,1002,Amurrio,1,16,766.0,10260.0,Araba/Álava,16.0,1.799114e+08,90623.621986,1.0,País Vasco
2,3,1003,Aramaio,1,16,18.0,1502.0,Araba/Álava,16.0,1.377066e+08,58592.914048,1.0,País Vasco
3,4,1004,Artziniega,1,16,110.0,1840.0,Araba/Álava,16.0,5.130078e+07,31498.524044,1.0,País Vasco
4,5,1006,Armiñón,1,16,12.0,234.0,Araba/Álava,16.0,2.380288e+07,33293.805036,1.0,País Vasco

In [ ]:
df.shape, df_descripciones.shape, df_mergeado.shape

((8124, 12), (19, 2), (8124, 13))

In [ ]:
df_mergeado.Texto.nunique(), df_mergeado.Codigo.nunique()

(8107, 8124)

In [ ]:
df_mergeado[df_mergeado.isna().any(axis=1)]

Empty DataFrame
Columns: [OBJECTID, Codigo, Texto, Cod_Prov, Cod_CCAA, TotalParoRegistrado, PAD_1C02, PAD_1_COD_PROV, PAD_1_COD_CCAA, Shape__Area, Shape__Length, Codigop, Comunidad_Autónoma]
Index: []

In [ ]:
df_mergeado = df_mergeado.rename(columns=
                                  {'Texto' : 'Municipios'})

Construir el DataFrame de comunidades autónomas, incluyendo la densidad, la proporción de paro y la cantidad de municipios.

In [ ]:
df_mergeado['Densidad'] = df_mergeado['PAD_1C02'] / df_mergeado['Shape__Area']
df_mergeado['Proporcion_Paro'] = df_mergeado['TotalParoRegistrado'] / df_mergeado['PAD_1C02']

In [ ]:
comunidades = df_mergeado.groupby('Comunidad_Autónoma').aggregate({
    'Densidad' : 'mean',
    'Proporcion_Paro' : 'mean',
    'Municipios' : 'count'
}).reset_index()

comunidades.head()

        Comunidad_Autónoma  Densidad  Proporcion_Paro  Municipios
0                Andalucía  0.000138         0.086645         778
1                   Aragón  0.000012         0.036687         731
2  Asturias, Principado de  0.000077         0.067554          78
3           Balears, Illes  0.000142         0.047009          67
4                 Canarias  0.000301         0.103308          88

Habíamos visto que el promedio de la proporción de paro en los municipios con una densidad menor a la mediana es más bajo. ¿Se cumple lo mismo para las ciudades autónomas?

In [ ]:
com_media = comunidades.Densidad.median()

In [ ]:
comunidades.query('Densidad > @com_media')['Proporcion_Paro'].mean()

0.08175443104664076

In [ ]:
comunidades.query('Densidad <= @com_media')['Proporcion_Paro'].mean()

0.06442225638756785

**Comunidades autónomas con densidades más altas a la media tienen mayor tasa de desempleo que las comunidades autónomas con densidades menores a la media.**

¿Cuál es la comunidad autónoma con mayor cantidad de municipios?

In [ ]:
comunidades[comunidades.Municipios == comunidades.Municipios.max()]

  Comunidad_Autónoma  Densidad  Proporcion_Paro  Municipios
7    Castilla y León  0.000012         0.049859        2248